
<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
<h3>Resend unlock instructions</h3>
  <%= f.error_notification %>
  <%= f.full_error :unlock_token %>
  <%= f.input :email, required: true, autofocus: true %>
  <%= f.button :submit, "Resend unlock instructions" %>
  <%= render "devise/shared/links" %>
<% end %>

