<div id="employee-bg"></div>
  <%= simple_form_for @work_experience, url: contractor_account_work_experience_path(@work_experience), class:"panel panel-default" do |f| %>
    <h1 style="color:white">Edit your work experience</h1>
    <%= f.input :industry %>
    <%= f.input :experience %>
    <%= f.input :company %>
    <%= f.input :title %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
</div>


edit_contractor_account_work_experience GET      /contractor/account/work_experiences/:id/edit(.:format) contractor/account/work_experiences#edit
