<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1 class="display-3">Hello, <%= current_employee.first_name %></h1>
      <p class="lead">Your current and past work experience</p>

      <div class="application-status-actions">
        <p class="lead">
          <%= link_to "Add work experience", new_contractor_account_work_experience_path, method: :get, class:"btn btn-primary btn-sm" %>
          <%= link_to contractor_account_profile_path do %><i class="fa fa-arrow-left fa-1x" aria-hidden="true"></i>
        <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <% @work_experiences.each do |work_experience| %>
    <div class="col-xs-4">
      <div class="card card-block">
      <%= link_to contractor_account_work_experience_path(work_experience) do %>
        <h4 class="card-title">
        <%= work_experience.title %>
        </h4>
        <% end %>
        <p class="card-text">
          <strong>Company:</strong> <%= work_experience.company %>
        </p>
        <p class="card-text">
          <strong>Industry:</strong> <%= work_experience.industry %>
        </p>
        <p class="card-text">
         <strong>Duration:</strong> <%= work_experience.duration %> years
       </p>
       <p class="card-text">
         <strong>Description:</strong> <%= work_experience.description %>
       </p>

     </div>
   </div>
   <% end %>
 </div>
</div>
