<div class="contenair">
  <div class="wrapper-yellow text-center"  style="background-color: #C63D0F ;">
  <h2>Work Experiences</h2>
  <h4>Below you will find information about my experiences</h4>
  </div>
  <div class="work-experience-table">
    <table class="table">
      <tbody>
        <tr>
          <td><em>Industry:</em></td>
          <td><%= @work_experience.industry %></td>
        </tr>
        <tr>
          <td><em>Experience:</em></td>
          <td><%= @work_experience.experience %></td>
        </tr>
        <tr>
        <td><em>Company:</em></td>
          <td><%= @work_experience.company %></td>
        </tr>
        <tr>
          <td><em>Title:</em></td>
          <td><%= @work_experience.title %></td>
        </tr>
        <tr>
          <td><em>Start date:</em></td>
          <td><%= @work_experience.start_date %></td>
        </tr>
        <tr>
          <td><em>End day:</em></td>
          <td><%= @work_experience.end_date %></td>
        </tr>
        <tr>
                <tr>
          <td><em>Duration:</em></td>
          <td><%= @work_experience.duration %> years</td>
        </tr>
        <tr>
          <td><em>Description:</em></td>
          <td><%= @work_experience.description %></td>
        </tr>
        <tr>
          <td>Edit your profile:</td>
          <td><em><%= link_to 'Edit', edit_contractor_account_work_experience_path(@work_experience), class: "btn btn-secondary", id: "edit-button", style:"text-decoration:none" %></em></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



