<nav class='navbar navbar-inverse'>
  <div class='container-fluid '>
    <div class='navbar-header'>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <!-- Logo -->
      <%= link_to root_path, class: "navbar-brand" do %>
      <% "MATCHER" %>
      <% end %>
    </div>
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>

      <ul class='nav navbar-nav navbar-right'>

        <% if employee_signed_in? || company_signed_in? %>
          <% if employee_signed_in? %>

            <li>
              <%= link_to destroy_employee_session_path, method: :delete do %>
                <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>

            <% else %>

            <li>
              <%= link_to destroy_company_session_path, method: :delete do %>
                <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          <% end %>
        <% end %>

        <% unless params[:controller] == "pages" && params[:action] == "home" %>
        <% unless current_employee.nil? || current_company.nil?  %>

        <li>
           <%= link_to "Companies",company_landing_path %>
        </li>
        <li>
          <%= link_to "Employees",contractor_root_path %>
        </li>
        <% end %>

        <% if employee_signed_in? || company_signed_in? %>
         <% if employee_signed_in? %>
        <li>
          <%= link_to contractor_account_profile_path do  %>
          <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <% elsif company_signed_in? %>
          <li>
          <%= link_to company_account_profile_path do  %>
          <i class="fa fa-building"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>

        <% else %>
        <li>
          <%= link_to company_account_profile_path do  %>
          <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <% end %>
        <% else %>
        <% unless params[:controller] == "devise/sessions" && params[:action] == "new" %>
  <% if (params[:controller] == "pages" && params[:action] == "company")|| params[:controller] == "company/registrations" %>

        <li>
          <%= link_to t(".sign_in", default: "Login"), new_company_session_path %>
        </li>
        <% else %>

        <li>
          <%= link_to t(".sign_in", default: "Login"), new_employee_session_path %>
        </li>

  <% end %>
        <% end %>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</nav>
