<div class="container">
  <div class="row">
    <div class="jumbo-wrapper">
      <div class="jumbotron">
        <div class="title-info">
          <h2 class="display-3"><%= @job_application.employee.first_name %></h2>
          <%= cl_image_tag @job_application.employee.photo, crop: :fill, height: 100, width: 100, class: "avatar-large" %>
        </div>
        <p class="lead"> An application for <%= @job_application.job_offer.company.name %>, to the position of <%= @job_application.job_offer.name %></p>
        <hr class="m-y-2">
        <p><%= @job_application.motivation_letter %></p>
      </div>

      <% if @job_application.status == "Pending"  %>
        <div class="application-status-actions">
        <p class="lead">
          <%= link_to "Accept", accept_company_account_job_application_path, method: :patch, class:"btn btn-primary btn-lg" %>
          <%= link_to "Decline", decline_company_account_job_application_path, method: :patch, class:"btn btn-primary btn-lg"  %>
        </p>

        </div>
        <% else %>
        <div class="application-status">
        <h2> <strong> Candidate's job application status: <%= @job_application.status %></strong> </h2>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @job_application.employee.work_experiences.each do |work_experience| %>
    <% if work_experience.title == "" %>
    <% title = "Unavailable" %>
    <% else %>
    <% title = work_experience.title %>
    <% end %>
    <div class="col-xs-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Title: <%= title %></h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Company: < <%= work_experience.company %></li>
          <li class="list-group-item">Industry: < <%= work_experience.industry %></li>
          <li class="list-group-item">Experience: <%= work_experience.experience %></li>
          <li class="list-group-item">Start Date: <%= work_experience.start_date %></li>
          <li class="list-group-item">End Date: <%= work_experience.end_date %></li>
          <p class="list-group-item">Description: <%= work_experience.description %></p>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>


