<h2 class="anchor text-center">All job offers for:</h2>
<h4 class="text-center padding-bottom">all cities and all dates</h4 >


<div class="wrapper-grey">
  <div class="container anchor">
    <div class="row">
      <div class="box2">
        <div class="col-xs-12 col-md-6">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p>hello</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <p>hello</p>
            </div>
          </div>
        </div>
        <hr>
        <div class="col-xs-12 col-md-6">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p>hello</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <p>hello</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>











<div class="containert anchor">
  <div class="jobs">
    <% @jobs.each do |job| %>
    <div class="job">
      <%= link_to contractor_job_path(job) do %>

      <div class="header-information">
        <div class="avatar">
         <%= cl_image_tag job.photo, height: 200, width: 200, crop: :fill %>
        </div>
        <div class="title">
          <%= job.city %>
        </div>
        <% end %>
        <div class="city">
          <%= job.address %>
        </div>
      </div>
      <div class="other-information">
      <%= link_to contractor_job_path(job) do %>
        <%= job.name %>
      <% end %>
      <p>Wage: <%= job.wage %> €</p>
      </div>
    </div>
    <% end %>
  </div>
</div>
