<div class="banner" style="background-image: linear-gradient(-225deg, rgba(233, 100, 67, 0.4) 40%, rgba(144, 78, 149, 0.4) 50%), url('<%= @job.photo.present? ? cl_image_path(@job.photo) : "https://unsplash.it/800/800/?random"; %>');">
  <div class="banner-content">
    <h2><%=@job.name%></h2>
    <h2><%=@job.start_date%> - <%=@job.end_date%></h2>
    <%= link_to "Apply now", new_contractor_job_job_application_path(@job), class: "btn-success btn-lg" %>
  </div>
</div>

<div class="wrapper-grey">
  <div class="container anchor">
    <div class="row">
    <div class="col-md-7 box2">
      <div class="row">
        <div class="col-md-3">
          <p>Job description:</p>
        </div>
        <div class="col-md-9">
          <p><%=@job.job_description%></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <p>Sales associates:</p>
        </div>
        <div class="col-md-9">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ea, odio! Cumque, dolores. Perspiciatis odit culpa, ipsum perferendis quos est sint voluptates ullam, unde iusto possimus architecto quia nesciunt in.</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <p>Fashion industry:</p>
        </div>
        <div class="col-md-9">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ea, odio! Cumque, dolores. Perspiciatis odit culpa, ipsum perferendis quos est sint voluptates ullam, unde iusto possimus architecto quia nesciunt in.</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <%= link_to "Apply now", new_contractor_job_job_application_path(@job), class: "btn-success btn-lg btn2" %>
      </div>
    </div>
    <div id="map" style="width: 400px; height: 650px;" class="col-md-3 col-md-offset-1 box2">
    </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
      handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
    });
  <% end %>
<% end %>
