<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'nyc_try.png' %>);">
  <div class="banner-content">
    <h2>Edit your company profile</h2>
    <h3>
      <em></em>
    </h3>
  </div>
</div>

<div class="wrapper-grey">
  <div class="container">
    <div class="row">

      <div class="col-xs-12">
        <div class="box2">
          <%= simple_form_for @profile, url:company_account_profile_path(@profile) do |f|  %>
            <%= f.input :name, required: true %>
            <%= f.input :industry, required: true %>
            <%= f.input :description, required: true %>
            <%= f.input :email, required: true %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :photo %> <%= f.input :photo_cache, as: :hidden %> <%= f.submit %>
          <% end %>
        </div>     
      </div>
    </div>
  </div>
</div>
