<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'nyc_try.png' %>);">
  <div class="banner-content">
    <h2>Welcome to your company profile <%= current_company.name %></h2>
  </div>
</div>

<div class="container anchor">
  <div class="row">

    <div class="col-sm-4">
      <div class="log-picture">
        <%= image_tag current_company.photo, class: "button-card" %>
      </div>
    </div>

    <div class="col-sm-4">
      <table class="table">
        <tbody>
          <tr>
            <th>PROFILE DETAILS</th>
          </tr>
          <tr>
            <td><em>Name:</em></td>
            <td><%= current_company.name %></td>
          </tr>
          <tr>
            <td><em>Industry:</em></td>
            <td><%= current_company.industry %></td>
          </tr>
          <tr>
            <td><em>Description:</em></td>
            <td><%= current_company.description %></td>
          </tr>
          <tr>
            <td>Edit your profile:</td>
            <td><em><%= link_to 'Edit', edit_company_account_profile_path(@job), class: "btn btn-secondary", id: "edit-button", style:"text-decoration:none" %></em></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <div>
        <ul class="list-unstyled">
          <li>
            <%= link_to "Add Job Offer",new_company_account_job_path, class: "btn btn-block btn-primary btn-lg  add-job-offer" %>
          </li>
          <li>
            <%= link_to "See All Offers", company_account_jobs_path, class: "btn btn-default  btn-primary btn-lg add-job-offer" %>

          </li>
        </ul>
      </div>
    </div>
  </div>

  <!---------- ------- job offers cards -------------------->
  <div class="row">
    <div class="bootstrap-demo">
      <%  @job_offers.each do |job_offer| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= job_offer.photo.present? ? cl_image_tag(job_offer.photo, class:"card-img-top", height: 194, width: 323, crop: :fill) : image_tag('01_city.jpg') %>
          <div class="card-block">
            <%= link_to "See Applicants", company_account_job_path(job_offer), class: "card-link btn btn-primary btn-padding"%>

            <h4 class="card-title">Position: <%= job_offer.name %></h4>
            <p class="card-text">City: <%= job_offer.city %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= unread_job_offer_applications_count(job_offer) %> New Applicants</li>
            <li class="list-group-item"><%= job_offer.job_applications.count %> Applicants</li>
            <li class="list-group-item"><%= link_to "Look at this job!", company_account_job_path(job_offer), class:"btn btn-primary"  %></li>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <!---------- suggested_employee--------------  ---------->
  <% unless @suggested_employees.empty? %>
    <div class="row ">
      <div class="bootstrap-demo">
        <h3 class="text-center anchor">Suggested Employees <%= current_company.industry %></h3>
          <% @suggested_employees.each do |suggested_employee| %>
            <div class="col-xs-12 col-sm-4">
              <div class="card card-smaller">
                <% if suggested_employee.provider == 'linkedin' %>
                  <%= cl_image_tag suggested_employee.linkedin_photo_url, crop: :fill %>
                <% else  %>
                  <%= cl_image_tag suggested_employee.photo, crop: :fill %>
                <% end %>
                <div class="card-block">
                  <div class="card-title">
                    Name: <%= suggested_employee.first_name %>
                  </div>
                  <h4 class="card-text">
                    Industry: <%= @industry[0] %>
                   </h4>
                   <p>
                    <%#= link_to 'See profile', company_account_job_applications_path(job_applications), class: 'btn btn-primary' %>
                   </p>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  <% end %>
</div>

