<div class="container">
  <div class="row anchor text-center">
    <div class="col-xs-12">
      <%= link_to "Back", company_account_profile_path, class: "btn btn-primary btn-lg see-all-offers" %>
    </div>
  </div>
  <div class="row anchor">
  <h2 class="text-center">Current and Past Job Offers</h2>
      <div class="bootstrap-demo">
        <%  @jobs.each do |job| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <%= job.photo.present? ? cl_image_tag(job.photo, class:"card-img-top", height: 194, width: 323, crop: :fill) : image_tag('01_city.jpg') %>
              <div class="card-block">
                <h4 class="card-title">Position: <%= job.name %></h4>
                <p class="card-text">City: <%= job.city %></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= job.job_applications.count %> Applicants</li>
              </ul>
              <div class="card-block">
                <%= link_to "See Applicants", company_account_job_path(job), class: "card-link btn btn-primary"%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
