<div id="bg"></div>
  <div class="row">
    <div class="col-xs-12 offset-1">
      <%= simple_form_for @job, url: company_account_jobs_path, class:"panel panel-default" do |f| %>
      <h1 style="color:white">Add your job offer</h1>
        <%= f.input :name %>
        <%= f.input :event %>
        <%= f.input :city %>
        <%= f.input :job_description %>
        <%= f.input :address %>
        <%= f.input :wage %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
         <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit 'Create Job Offer' %>
      <% end %>
    </div>
  </div>


