<h1 class="anchor"> THIS IS WHERE IT GOES: after clicking on a specific job°</h1>
<div class="container">
   <div class="row">
    <div class="description">
      <p><%= @job.event %></p>
      <p><%= @job.name %></p>
      <p><%= @job.city %></p>
      <p><%= @job.job_description %></p>
      <p><%= @job.start_date %> - <%= @job.end_date %></p>
      <p><%= @job.wage %> $ </p>
     </div>
    <% @job.job_applications.each do |job_application| %>
    <div class="col-xs-12 col-md-4">
      <div class="card-account">
        <div class="image">
          <%= cl_image_tag(job_application.employee.photo, height: 200, width: 200, crop: :fill) %>
        </div>
        <div class="content">
          <%= link_to contractor_path(job_application.employee) do %>
          <h2><%= job_application.employee.first_name %></h2>
          <h4><%= job_application.job_offer.name %></h4>
          <% end %>

          <div class="meta">
            <span class="date">Joined in 2013</span>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= link_to "edit this job", edit_company_account_job_path %>
