<!-- margie work -->

<h1 class="anchor center"> <%= @job.name %> </h1>
<h3 class="center">You have 3 applicants</h3>
<hr>
<div class="container">
 <div class="row">
  <div class="description grey-background">
    <p>Event: <%= @job.event %></p>
    <p>Name: <%= @job.name %></p>
    <p>City: <%= @job.city %></p>
    <p>Description: <%= @job.job_description %></p>
    <p>Duration: <%= @job.start_date %> - <%= @job.end_date %></p>
    <p>Wage: <%= @job.wage %> $ </p>
  </div>
</div>

<div class="row">
  <h3 class="center">List of new applicants</h3>
  <% @job.job_applications.each do |job_application| %>
  <div class="col-xs-12 col-md-4">
    <%= link_to contractor_path(job_application.employee) do %>
    <div class="card-account">
      <div class="image">
        <%= cl_image_tag(job_application.employee.photo, height: 150, width: 200, crop: :fill) %>
      </div>
      <div class="content">
        <h2><%= job_application.employee.first_name %></h2>
        <h4><%= job_application.job_offer.name %></h4>
        <div class="meta">
          <span class="date">Joined in 2013</span>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>



<%= link_to "edit this job", edit_company_account_job_path %>