<h2 class="anchor text-center"> <%= @job.name %> </h2>
<h4 class="text-center padding-bottom">You have <%= @job.job_applications.count %> applicants for this position</h4 >


<div class="wrapper-grey">
  <div class="container anchor">
    <div class="row">
      <div class="col-xs-12">
          <div class="box2">
            <div class="row">
              <div class="col-md-3">
                <p>Event:</p>
              </div>
              <div class="col-md-9">
                <p><%= @job.event %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <p>Name:</p>
              </div>
              <div class="col-md-9">
                <p><%= @job.name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <p>City:</p>
              </div>
              <div class="col-md-9">
                <p><%= @job.city %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <p>Description :</p>
              </div>
              <div class="col-md-9">
                <p><%=@job.job_description%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <p>Duration:</p>
              </div>
              <div class="col-md-9">
                <p><%=@job.start_date %> - <%= @job.end_date%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <p>Wage:</p>
              </div>
              <div class="col-md-9">
                <p><%= @job.wage %> $</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <p class="text-center"> <%= link_to 'Edit this job', edit_company_account_job_path, class: 'btn btn-success' %> </p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


<div class="container">
  <% if unread_job_offer_applications(@job).exists? %>
    <h3 class="text-center padding-bottom">List of new applicants</h3>
  <% end %>
    <div class="row">
      <% unread_job_offer_applications(@job).each do |job_application| %>
        <div class="col-xs-12 col-md-4">
            <div class="card">
            <% if job_application.employee.photo.file %>
              <%= cl_image_tag(job_application.employee.photo, crop: :fill, class: 'card-img-top') %>
            <% elsif job_application.employee.linkedin_photo_url %>
              <%= cl_image_tag(job_application.employee.linkedin_photo_url, crop: :fill, class: 'card-img-top') %>
            <% else %>
                <% if job_application.employee.gender == "male" %>
                  <%= image_tag ("fbppm.jpg") %>
                <% else %>
                  <%= image_tag ("fbppf.jpg") %>
                <% end %>
            <% end %>
              <div class="card-block">
                <h2 class="card-title"><%= job_application.employee.first_name %> <%= job_application.employee.last_name %> </h2>
                <h4 class="card-title">
                <% if job_application.employee.work_experiences.exists? %>
                  <span><%= job_application.employee.work_experiences.last.industry %> industry</span>
                <% end  %>
                </h4>
                <div class="meta">
                  <% if job_application.employee.work_experiences.exists? %>
                    <span><%= job_application.employee.work_experiences.last.experience %> years</span>
                  <% end  %>
                </div>
                <%= link_to 'See profile', company_account_job_application_path(job_application), class: 'btn btn-primary' %>
              </div>
            </div>
        </div>
      <% end %>
    </div>

    <h3 class="text-center padding-bottom">List of all applicants</h3>
    <div class="row">
      <% read_job_offer_applications(@job).each do |job_application| %>
          <div class="col-xs-12 col-md-4">
              <div class="card">
                <% if job_application.employee.photo.file %>
                  <%= cl_image_tag(job_application.employee.photo, crop: :fill, class: 'card-img-top') %>
                <% elsif job_application.employee.linkedin_photo_url %>
                  <%= cl_image_tag(job_application.employee.linkedin_photo_url, crop: :fill, class: 'card-img-top') %>
                <% else %>
                    <% if job_application.employee.gender == "male" %>
                      <%= image_tag ("fbppm.jpg") %>
                    <% else %>
                      <%= image_tag ("fbppf.jpg") %>
                    <% end %>
                <% end %>
              <div class="card-block">
                <h2 class="card-title"><%= job_application.employee.first_name %> <%= job_application.employee.last_name %> </h2>
                <h4 class="card-title">
                <% if job_application.employee.work_experiences.exists? %>
                  <span><%= job_application.employee.work_experiences.last.industry %> industry</span>
                <% end  %>
                </h4>
                <div class="meta">
                  <% if job_application.employee.work_experiences.exists? %>
                    <span><%= job_application.employee.work_experiences.last.experience %> years</span>
                  <% end  %>
                </div>
                <%= link_to 'See profile', company_account_job_application_path(job_application), class: 'btn btn-primary' %>
              </div>
              </div>
          </div>
      <% end %>
    </div>
</div>


