<h1 class="anchor center"> <%= @job.name %> </h1>
<h3 class="center">You have <%= @job.job_applications.count %> applicants for this position</h3>
<hr>
<div class="container">
 <div class="row">
  <div class="description grey-background">
    <p>Event: <%= @job.event %></p>
    <p>Name: <%= @job.name %></p>
    <p>City: <%= @job.city %></p>
    <p>Description: <%= @job.job_description %></p>
    <p>Duration: <%= @job.start_date %> - <%= @job.end_date %></p>
    <p>Wage: <%= @job.wage %> $ </p>
  </div>
</div>

<h3 class="center">List of new applicants</h3>
<div class="row">
  <% @job.job_applications.each do |job_application| %>
    <div class="col-xs-12 col-md-4">


        <div class="card">
          <%= cl_image_tag(job_application.employee.photo, crop: :fill, class: 'card-img-top') %>
          <div class="card-block">
            <h2 class="card-title"><%= job_application.employee.first_name %></h2>
            <h4 class="card-title"><%= job_application.job_offer.name %></h4>
            <div class="meta">
              <span class="date">Joined in 2013</span>
            </div>
            <%= link_to 'See profile', company_account_job_application_path(job_application.employee), class: 'btn btn-primary' %>
          </div>
        </div>

    </div>
  <% end %>
</div>

<%= link_to "edit this job", edit_company_account_job_path %>
